* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
<<<<<<< HEAD
  background-color: rgb(255, 255, 255);
=======
>>>>>>> da426338cb543f11c059a7be1033d10d8b389e8d
}

nav {
  text-align: center;
}

li {
  display: inline;
  margin: 2%;
}

.video-container {
  margin-left: 5%;
  margin-right: 5%;
}

.billede-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.billede-item:first-child {
  grid-column: 1 / span 2;
}

.cafe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15%;
}

.cafe-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cafe-item h2 {
  order: -1;
}

@media (min-width: 450px) and (max-width: 550px) {
  .cafe-item h2 {
  font-size: 0.75rem;
}
}

@media (min-width: 550px) and (max-width: 1000px) {
  .cafe-item h2 {
  font-size: 1.25rem;
}
}

@media (min-width: 1000px) {
  .cafe-item h2 {
  padding: 3%;
}
}

.cafe-item p a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 450px) and (max-width: 550px) {
  .cafe-item p a {
  font-size: 0.5rem;
}
}

@media (min-width: 550px) and (max-width: 1000px) {
  .cafe-item p a {
  font-size: 1rem;
}
}

.cafe-item p:hover a {
  cursor: pointer;
  color: #AF77BD;
}

#index-baggrund {
  background-color: #F2E5D9;
}

.h1-index {
  font-family: Mirador;
  font-size: 3rem;
  text-align: center;
  padding: 2.5%;
}

@media (min-width: 450px) and (max-width: 750px) {
  .h1-index {
  font-size: 1rem;
  padding: 2.5%;
}
}

@media (min-width: 750px) and (max-width: 1350px) {
  .h1-index {
  font-size: 2rem;
  padding: 2.5%;
}
}

.h2-index {
  font-family: Mirador;
  font-size: 1.75rem;
}

.p-index {
  font-family: Mirador;
  font-size: 25px;
}


