* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  text-align: center;
}

li {
  display: inline;
  margin: 2%;
}

nav {
  background-color: #dcede9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  height: 130px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

a:link {
  text-decoration: none;
  color: #445451;
}

a:visited {
  text-decoration: none;
  color: #445451;
}

a:hover {
  text-decoration: none;
  color: #80beb1;
}

a:active {
  text-decoration: none;
  color: #80beb1;
}

.logo {
  margin-bottom: -70px; /* Flyt logo ned fra nav bar */
  text-align: center;
}

.logo img {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.nav-items {
  list-style: none;
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
}

.nav-items li {
  margin-right: 40px;
}

.nav-items li:last-child {
  margin-right: 0;
}

#index-baggrund {
  background-color: #f2e5d9;
  margin: 10px;
}

.video-container {
  gap: 1%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

video,
iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.billede-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.billede-item {
  position: relative;
  display: inline-block;
}

.billede-tekst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--primary-font-family);
  color: white;
}

@media (min-width: 450px) and (max-width: 550px) {
  .billede-tekst {
    font-size: var(--tertiary-font-size-sm);
    font-weight: var(--primary-font-weight);
    -webkit-text-stroke: var(--secondary-webkit-text-stroke);
    white-space: nowrap;
  }
}

@media (min-width: 550px) and (max-width: 1000px) {
  .billede-tekst {
    font-size: var(--secondary-font-size-sm);
    font-weight: var(--primary-font-weight);
    -webkit-text-stroke: var(--secondary-webkit-text-stroke);
    white-space: nowrap;
  }
}

@media (min-width: 1000px) {
  .billede-tekst {
    font-size: var(--primary-font-size-sm);
    font-weight: var(--primary-font-weight);
    -webkit-text-stroke: var(--primay-webkit-text-stroke);
    white-space: nowrap;
  }
}

.billede-item:first-child {
  grid-column: 1 / span 2;
}

.cafe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15%;
  gap: 1.95%;
}

.cafe-item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #d0e5de;
}

.cafe-item:hover::before {
  opacity: 1;
}

.cafe-item:hover img {
  filter: grayscale(50%);
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cafe-item h2 {
  order: -1;
}

h2 {
  font-family: var(--primary-font-family);
}

@media (min-width: 450px) and (max-width: 550px) {
  .cafe-item h2 {
    font-size: var(--quinary-font-size-sm);
    font-weight: var(--primary-font-weight);
    padding: 3%;
  }
}

@media (min-width: 550px) and (max-width: 850px) {
  .cafe-item h2 {
    font-size: var(--quatery-font-size-sm);
    font-weight: var(--primary-font-weight);
    padding: 3%;
  }
}

@media (min-width: 850px) and (max-width: 1000px) {
  .cafe-item h2 {
    font-size: var(--tertiary-font-size-sm);
    font-weight: var(--primary-font-weight);
    padding: 3%;
  }
}

@media (min-width: 1000px) {
  .cafe-item h2 {
    font-size: var(--secondary-font-size-sm);
    font-weight: var(--primary-font-weight);
    padding: 3%;
  }
}

#a-index {
  font-family: var(--primary-font-family);
}

.cafe-item h3 #a-index {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 450px) and (max-width: 550px) {
  .cafe-item h3 #a-index {
    font-size: var(--accent-font-size-sm);
  }
}

@media (min-width: 550px) and (max-width: 850px) {
  .cafe-item h3 #a-index {
    font-size: var(--quinary-font-size-sm);
  }
}

@media (min-width: 850px) and (max-width: 1000px) {
  .cafe-item h3 #a-index {
    font-size: var(--quatery-font-size-sm);
  }
}

@media (min-width: 1000px) {
  .cafe-item h3 #a-index {
    font-size: var(--tertiary-font-size-sm);
  }
}

.cafe-item h3:hover #a-index {
  cursor: pointer;
  color: #af77bd;
}

.h1-index {
  font-family: var(--primary-font-family);
  text-align: center;
  padding: 2.5%;
}

@media (min-width: 450px) and (max-width: 550px) {
  .h1-index {
    font-size: var(--quaternary-font-size-sm);
    padding: 2.5%;
  }
}

@media (min-width: 550px) and (max-width: 1000px) {
  .h1-index {
    font-size: var(--secondary-font-size-sm);
    padding: 2.5%;
  }
}

@media (min-width: 1000px) {
  .h1-index {
    font-size: var(--primary-font-size-sm);
    padding: 2.5%;
  }
}

:root {
  --primary-font-family: "poppins", sans-serif;
  --primary-font-style: normal;
  --secondary-font-style: bold;
  --primary-font-size-sm: 2.5rem;
  --secondary-font-size-sm: 1.5rem;
  --tertiary-font-size-sm: 1.25rem;
  --quaternary-font-size-sm: 1rem;
  --quinary-font-size-sm: 0.75rem;
  --accent-font-size-sm: 0.5rem;
  --primary-font-weight: 500;
  --primay-webkit-text-stroke: 1px #000;
  --secondary-webkit-text-stroke: 0.5px #000;
}

#footer {
  font-family: var(--primary-font-family);
  font-size: var(--accent-font-size-sm);
}
